<!DOCTYPE HTML>
<html>
<head>
    <% include Common/header.ejs %>
</head>
<body>
<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header">
        <div class="inner">

            <!-- Logo -->
            <% include Common/logo.ejs %>

            <!-- Nav -->
            <nav>
                <ul>
                    <li><a href="#menu">Menu</a></li>
                </ul>
            </nav>

        </div>
    </header>

    <!-- Menu -->
    <% include Common/menu.ejs %>

    <!-- Main -->
    <div id="main">
        <div class="inner">
            <header>
                <h1>Appointment Requested</h1>
            </header>
            <section>

                <p>Please wait for a confirmation call from the service provider. You should hear back
                    within the next 2 hours
                </p>
            </section>
            <section>
                <h3>Create a password and save your details</h3>

                <form method="post" action="/createprofile">

                <div class="table-wrapper">
                    <table>
                        <tr>
                            <td>Name</td>
                            <td><%=elements.FirstName+' '+elements.LastName%></td>
                            <input type="hidden" name="FirstName" value=<%=elements.FirstName%> />
                            <input type="hidden" name="LastName" value=<%=elements.LastName%> />
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td><%=elements.Email%></td>
                            <input type="hidden" name="Email" value=<%=elements.Email%> />
                        </tr>
                        <tr>
                            <td>Phone</td>
                            <td><%=elements.Phone%></td>
                            <input type="hidden" name="Phone" value=<%=elements.Phone%> />
                        </tr>
                        <tr>
                            <td>Address</td>
                            <td><%=elements.Address%></td>
                            <input type="hidden" name="Address" value=<%=(elements.Address).replace(/ /g,'')%> />
                            <input type="hidden" name="Location" value=<%=elements.Location.coordinates%> />
                            <input type="hidden" name="transID" value=<%=transID%> />

                        </tr>
                    </table>
                </div>
                    <div>
                        <label>What are your goals?</label>
                        <div class="field">
                            <input type="checkbox" name="serviceprovided" value="Return to Work" id="rtw"><label for="ph">Return to Work</label>

                            <input type="checkbox" name="serviceprovided" id="hm" value="Preparing Meals" >
                            <label for="hm">Home Maintenance</label>

                            <input type="checkbox" name="serviceprovided" id="transp" value="Return to Driving" ><label for="transp">Transportation</label>

                            <input type="checkbox" name="serviceprovided" id="meals" value="Walking and Getting Around" ><label for="meals">Meals</label>

                            <input type="checkbox" name="serviceprovided" id="cook" value="Boredom" ><label for="cook">Explore Activities In My Community</label>
                            <input type="checkbox" name="serviceprovided" id="cook" value="Navigating the System" ><label for="cook">Understand my Financial Options</label>
                        </div>
                    </div>


                <div class="field half first">
                    <input type="password" name="password" placeholder="Create Password" required />
                </div>
                <div class="field half">
                    <input type="password" name="confpass" placeholder="Confirm Password" required/>
                </div>
                <ul class="actions" style="float:right;">
                    <li><input type="submit" value="Create Profile" class="special" /></li>
                </ul>
            </form>


            </section>

        </div>
    </div>

    <!-- Footer -->
    <% include Common/footer.ejs %>

</div>

<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/skel.min.js"></script>
<script src="assets/js/util.js"></script>
<!--[if lte IE 8]>
<script src="assets/js/ie/respond.min.js"></script><![endif]-->
<script src="assets/js/main.js"></script>
<script src="assets/js/local.js"></script>

</body>
</html>