<!DOCTYPE HTML>
<!--
	Phantom by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
    <% include Common/header.ejs %>
</head>
<body>
<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header">
        <div class="inner">

            <!-- Logo -->
            <% include Common/logo.ejs %>

            <!-- Nav -->
            <nav>
                <ul>
                    <li><a href="#menu">Menu</a></li>
                </ul>
            </nav>

        </div>
    </header>

    <!-- Menu -->
    <% include Common/menu.ejs %>

    <!-- Main -->
    <div id="main">
        <div class="inner">
            <form method="post" action="/appointmentdetails">
            <h1><%= businessname %></h1>
            <span class="image main"><img src="images/pic16.jpg" alt="" /></span>
            <h3>About</h3>
            <p><%= businessDesc %></p>
            <section class="tiles" style="border: solid 0px">
                <article style="border: solid 0px">
                    <h3>Hours of Service</h3>
                    <p>Weekdays : <%= weekdayhours %> </p>
                    <p>Weekends : <%= weekendhours %></p>


                </article>

                <article style="border: solid 0px">
                    <h3>Services Provided</h3>
                    <table>
                        <tr style="background-color: transparent;border: 0px;">
                            <td>Cooking </td>
                            <td>$<%= cooking %> </td>
                        </tr>
                        <tr style="background-color: transparent;border: 0px;">
                            <td>Meals</td>
                            <td>$<%= meals %></td>
                        </tr>
                        <tr style="background-color: transparent;border: 0px;">
                            <td>Transportation</td>
                            <td>$<%= transport %></td>
                        </tr>
                        <tr style="background-color: transparent;border: 0px;">
                            <td>Home Maintenance</td>
                            <td>$<%= homemaintenance %></td>
                        </tr>
                        <tr style="background-color: transparent;border: 0px;">
                            <td>Personal Hygiene</td>
                            <td>$<%= personalhygiene %></td>
                        </tr>
                    </table>
                </article>
                <article>

                    <h3>Contact</h3>
                    <p>Address: <%= Address %></p>
                    <p>Email : <%= Email %></p>
                    <input type="hidden" name="provideremail" value="<%= Email %>">
                    <p>Phone : <%= Phone %></p>
                </article>
            </section>
            <div>
                <input type="submit" style="float: right;" value="Book An Appointment" class="special"/>
            </div>
            </form>
        </div>
    </div>

    <!-- Footer -->
    <% include Common/footer.ejs %>

</div>

<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/skel.min.js"></script>
<script src="assets/js/util.js"></script>
<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
<script src="assets/js/main.js"></script>

</body>
</html>